.p-Home.Div11 {
;
}
.p-Home.Flex27 {
display: flex;
}
.p-Home.Flex28 {
display: flex;
margin-left: ;
margin-top: ;
}
.p-Home.Flex29 {
display: flex;
}
.p-Home.Flex31 {
display: flex;
}
.p-Home.Flex30 {
display: flex;
}
.p-Home.Flex32 {
display: flex;
}
.p-Home.Flex33 {
display: flex;
margin-left: ;
margin-right: 60px;
}
.p-Home.Flex34 {
display: flex;
margin-left: 20px;
margin-right: ;
}
.p-Home.Div17 {
;
}
.p-Home.Flex48 {
display: flex;
justify-content: space-between;
margin-left: 150px;
margin-top: 30px;
}
.p-Home.Flex49 {
display: flex;
}
.p-Home.Div21 {
align-self: center;
}
.p-Home.Div22 {
;
}
.p-Home.Div23 {
;
}
.p-Home.Div25 {
;
}
.p-Home.Div26 {
;
}
.p-Home.Div27 {
;
}
.p-Home.Flex64 {
display: flex;
}
.p-Home.Flex65 {
display: flex;
}
.p-Home.Div24 {
;
}
.p-Home.Flex59 {
display: flex;
margin-top: 20px;
}
.p-Home.Flex61 {
display: flex;
}
.p-Home.Flex62 {
display: flex;
}
.p-Home.Div19 {
margin-top: 70px;
}
.p-Home.Div28 {
;
}
.p-Home.Flex66 {
display: flex;
justify-content: space-around;
margin-left: 80px;
margin-right: 80px;
}
.p-Home.Flex67 {
display: flex;
}
.p-Home.Flex68 {
display: flex;
}
.p-Home.Flex69 {
display: flex;
}
.p-Home.Div29 {
;
}
.p-Home.Div30 {
;
}
.p-Home.Flex71 {
display: flex;
justify-content: space-around;
margin-top: 40px;
margin-left: 60px;
margin-right: 60px;
}
.p-Home.Flex72 {
display: flex;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-color: #787575;
column-gap: ;
min-height: 380px;
border-style: solid;
min-width: 230px;
}
.p-Home.Div36 {
margin-left: 60px;
}
.p-Home.Flex105 {
display: flex;
}
.p-Home.Flex106 {
display: flex;
}
.p-Home.Flex107 {
display: flex;
}
.p-Home.Flex108 {
display: flex;
}
.p-Home.Flex73 {
display: flex;
border-color: #787575;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
min-width: 230px;
border-style: solid;
}
.p-Home.Div33 {
margin-left: 60px;
}
.p-Home.Flex82 {
display: flex;
}
.p-Home.Flex83 {
display: flex;
}
.p-Home.Flex84 {
display: flex;
}
.p-Home.Flex85 {
display: flex;
}
.p-Home.Flex74 {
display: flex;
border-color: #787575;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
min-width: 230px;
border-style: solid;
}
.p-Home.Div35 {
margin-left: 60px;
}
.p-Home.Flex101 {
display: flex;
}
.p-Home.Flex102 {
display: flex;
}
.p-Home.Flex103 {
display: flex;
}
.p-Home.Flex104 {
display: flex;
}
.p-Home.Flex75 {
display: flex;
justify-content: space-around;
border-color: #787575;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
min-width: 230px;
border-style: solid;
}
.p-Home.Div37 {
margin-left: 60px;
}
.p-Home.Flex109 {
display: flex;
}
.p-Home.Flex110 {
display: flex;
}
.p-Home.Flex111 {
display: flex;
}
.p-Home.Flex112 {
display: flex;
}
.p-Home.Div38 {
;
}
.p-Home.Flex113 {
display: flex;
justify-content: center;
margin-top: 40px;
margin-bottom: 100px;
}
.p-Home.Flex114 {
display: flex;
}
.p-Home.Flex115 {
display: flex;
justify-content: space-around;
}
.p-Home.Div39 {
;
}
.p-Home.Flex116 {
display: flex;
justify-content: center;
border-style: none;
background-color: #fff4f4;
margin-top: ;
padding-top: 100px;
padding-bottom: 120px;
}
.p-Home.Flex117 {
display: flex;
}
.p-Home.Flex118 {
display: flex;
}
.p-Home.Div40 {
margin-left: 70px;
}
.p-Home.Flex120 {
display: flex;
margin-bottom: 30px;
margin-top: 60px;
}
.p-Home.Flex121 {
display: flex;
min-width: 400px;
min-height: 290px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
background-color: #ffffff;
}
.p-Home.Div42 {
;
}
.p-Home.Flex123 {
display: flex;
}
.p-Home.Flex124 {
display: flex;
}
.p-Home.Div43 {
;
}
.p-Home.Flex125 {
display: flex;
}
.p-Home.Flex126 {
display: flex;
}
.p-Home.Flex122 {
display: flex;
justify-content: center;
margin-top: 30px;
}
.p-Home.Flex127 {
display: flex;
}
.p-Home.Flex128 {
display: flex;
justify-content: center;
}
.p-Home.Div44 {
;
}
.p-Home.Div45 {
;
}
.p-Home.Flex129 {
display: flex;
justify-content: center;
}
.p-Home.Flex130 {
display: flex;
}
.p-Home.Div46 {
;
}
.p-Home.Flex137 {
display: flex;
}
.p-Home.TextBox59 {
margin-left: 500px;
font-size: 50px;
margin-top: 120px;
margin-bottom: 20px;
}
.p-Home.Image10 {
margin-left: 70px;
margin-top: 25px;
}
.p-Home.Button17 {
color: #787575;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-left: 30px;
margin-top: 25px;
}
.p-Home.Button18 {
color: #787575;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-top: 25px;
margin-left: 30px;
}
.p-Home.Button19 {
color: #787575;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-top: 25px;
margin-left: 30px;
}
.p-Home.Button20 {
color: #787575;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-top: 25px;
margin-left: 30px;
}
.p-Home.Button21 {
color: #787575;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-top: 25px;
margin-left: 30px;
margin-right: 70px;
}
.p-Home.Button22 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #787575;
cursor: pointer;
user-select: none;
margin-top: 18px;
margin-left: 20px;
margin-right: 40px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.p-Home.Button23 {
color: #fff;
background-color: #f66615;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-top: 18px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: ;
}
.p-Home.Flex50 {
display: flex;
justify-content: space-between;
max-width: 480px;
max-height: 480px;
min-width: 480px;
min-height: 480px;
background-color: #f66615;
border-style: none;
align-self: auto;
}
.p-Home.TextBox9 {
color: #787575;
font-size: 18px;
}
.p-Home.TextBox10 {
color: #787575;
font-size: 18px;
}
.p-Home.TextBox11 {
color: #787575;
font-size: 18px;
}
.p-Home.TextBox6 {
font-size: 60px;
text-align: justify;
margin-top: 40px;
}
.p-Home.TextBox7 {
font-size: 60px;
text-align: justify;
color: #f66615;
}
.p-Home.TextBox12 {
color: #787575;
font-size: 18px;
margin-top: 30px;
}
.p-Home.TextBox8 {
font-size: 18px;
text-align: left;
align-self: auto;
word-wrap: normal;
min-width: 50px;
min-height: ;
}
.p-Home.Button24 {
color: #fff;
background-color: #f66615;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-right: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.p-Home.Button25 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #787575;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.p-Home.TextBox2 {
font-size: 25px;
align-self: auto;
margin-left: 400px;
margin-bottom: 20px;
}
.p-Home.Image23 {
;
}
.p-Home.Image27 {
min-width: 10px;
min-height: ;
}
.p-Home.Image28 {
;
}
.p-Home.Image25 {
min-width: 10px;
}
.p-Home.TextBox13 {
font-size: 30px;
word-wrap: normal;
margin-left: 500px;
margin-top: 100px;
}
.p-Home.TextBox33 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox35 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox36 {
font-size: 22px;
margin-top: 25px;
color: #f66615;
}
.p-Home.Image32 {
margin-top: 40px;
margin-bottom: 25px;
}
.p-Home.TextBox31 {
margin-bottom: 25px;
font-size: 25px;
}
.p-Home.TextBox32 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox34 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox15 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox18 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox19 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox20 {
font-size: 22px;
margin-top: 25px;
color: #f66615;
}
.p-Home.Image29 {
margin-top: 40px;
margin-bottom: 25px;
}
.p-Home.TextBox14 {
font-size: 25px;
align-self: center;
margin-bottom: 25px;
text-align: justify;
}
.p-Home.TextBox16 {
;
}
.p-Home.TextBox17 {
font-size: 18px;
color: #787575;
padding-left: ;
padding-right: ;
}
.p-Home.TextBox40 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox41 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox42 {
margin-top: 25px;
font-size: 22px;
color: #f66615;
}
.p-Home.Image33 {
margin-top: 40px;
margin-bottom: 25px;
}
.p-Home.TextBox37 {
margin-bottom: 25px;
font-size: 25px;
}
.p-Home.TextBox38 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox39 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox46 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox47 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox48 {
font-size: 22px;
margin-top: 25px;
color: #f66615;
}
.p-Home.Image34 {
margin-top: 40px;
margin-bottom: 25px;
}
.p-Home.TextBox43 {
margin-bottom: 25px;
font-size: 25px;
}
.p-Home.TextBox44 {
font-size: 18px;
color: #787575;
}
.p-Home.TextBox45 {
font-size: 18px;
color: #787575;
}
.p-Home.Button26 {
color: #fff;
background-color: #f66615;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 20px;
}
.p-Home.Button27 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #787575;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.p-Home.Image35 {
min-width: ;
min-height: ;
max-width: 480px;
max-height: 520px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Home.TextBox49 {
font-size: 35px;
}
.p-Home.TextBox51 {
font-size: 25px;
margin-left: 30px;
margin-top: 50px;
margin-bottom: 30px;
}
.p-Home.Image36 {
margin-left: 30px;
margin-right: 10px;
margin-bottom: 20px;
}
.p-Home.TextBox53 {
;
}
.p-Home.TextBox54 {
color: #787575;
}
.p-Home.TextBox55 {
margin-bottom: 20px;
color: #787575;
}
.p-Home.TextBox56 {
color: #787575;
}
.p-Home.Image38 {
margin-left: 30px;
margin-right: 10px;
}
.p-Home.TextBox58 {
color: #787575;
}
.p-Home.Image37 {
margin-left: 30px;
margin-right: 10px;
margin-bottom: 20px;
}
.p-Home.TextBox57 {
margin-bottom: 20px;
color: #787575;
}
.p-Home.Button28 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #787575;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 20px;
}
.p-Home.Button29 {
color: #fff;
background-color: #f66615;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.p-Home.TextBox60 {
margin-left: 300px;
color: #787575;
font-size: 18px;
}
.p-Home.TextBox61 {
margin-left: 300px;
color: #787575;
font-size: 18px;
}
.p-Home.Flex131 {
display: flex;
}
.p-Home.Flex132 {
display: flex;
}
.p-Home.Flex133 {
display: flex;
}
.p-Home.Div47 {
min-width: 230px;
min-height: 230px;
background-image: url("/app-assets/Pancakes.jpeg");
}
